@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$primary-color: #2fa8cc;
$secondary-color: #f4f4f4;
$box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);


img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 1920px) {
  body {}


}

@media (max-width: 1440px) {
  body {}

}

@media (max-width: 360px) {
  body {}
  
}



nav {
  float: right;
  padding: 10px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-flex;
  margin-left: 40px;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

nav a:hover {
  color: #000;
}

body {
  margin: 0;
  background: #e6e6e6;
  font-family: 'Work Sans', sans-serif;
  font-weight: 4;
}

header {
  background: #55d6aa;
  margin-bottom: 12px;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.card {
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.form-group label {
  width: 100px;
  /* Fixed width for the labels */
  text-align: right;
  margin-right: 10px;
}

.form-group input {
  flex: 1;
}


.card-anim {
  border-radius: 10px;
  box-shadow: 0 8px 12px rgba(24, 24, 24, 0.4);
  background-color: #fff;
  padding: 20px;
  flex: 0 0 calc(33.33% - 100px);
  transform: scale(1); // Add a hover effect, increase the scale for a zoom-in effect
  transition: transform 0.2s ease; // Add a smooth transition for the hover effect
}

.card-anim:hover {
  transform: scale(1.15); // Add a hover effect, increase the scale for a zoom-in effect
  transition: transform 0.5s ease; // Add a smooth transition for the hover effect
}

.card-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  /* Adjust the gap as needed between the cards */
}

.title {
  font-size: larger;
  font-weight: 700;
}

.contents {
  min-width: 1200px;
  height: 100%;
  min-height: 640px;
  margin: 0 0 60px;
  position: relative;
  overflow: hidden;
}

.contents div[class^="text-area-"] {
  background-color: #473834;
  width: 660px;
  border-radius: 6px;
  padding: 30px 30px 40px;
  margin: 0 0 20px 20px;
  box-sizing: border-box;
  box-shadow: 10px 6px 12px rgba(24, 24, 24, 0.6);
  position: absolute;
  bottom: 0;
  color: #f4f4f4;
}

/* CSS */
.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.sidenav {
  width: 170px;
  position: fixed;
  z-index: 1;
  top: 100px;
  border-radius: 12px;
  right: 0px;
  background: #ffffff;
  overflow-x: hidden;
  padding: 8px;
}

.sidenav li {
  list-style: circle;
  margin-bottom: 6px;
}